<div 
  class="draggable-token-wrapper" 
  phx-hook="DraggableToken"  
  id="<%= @token.id %>">
  <div class="status">
    <div class="health"><%= @token.status.health %></div>
    <div class="mana"><%= @token.status.mana %></div>
  </div>
  <span class="tag is-warning is-outlined"><%= @token.name %></span>
  <div class="title is-5 draggable-token"></div>
</div>
