<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= live_title_tag assigns[:page_title] %>

    <meta name="title" content="<%= assigns[:page_title]%>">
    <meta name="description" content="Join aedhron">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://localhost:4000/">
    <meta property="og:title" content="<%= assigns[:page_title]%> ">
    <meta property="og:description" content="Join aedhron">
    <meta property="og:image" 
          content="<%= Routes.static_path(@conn, "/images/aedhron.png")%>">
    <link 
          rel="stylesheet" 
          href="<%= Routes.static_path(@conn, "/css/app.css")%>" 
          type="text/css" 
          charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/aedhron_icon.png")%>" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
