<div class="ui left aligned container">
  <div style="margin: 0 auto">
    <img src="<%= Routes.static_path(@socket, "/images/aedhron.png")%>" 
         alt=""
         style="display: block; margin: 0 auto"/>
  </div>

  <h3 class="title is-3" style="text-align: center; padding: 5px">You're authorized!</h3>
  <button class="button is-fullwidth" style="background-color: transparent; border: 1px solid #f73b7c; color: #eee">close tab</button>
</div>
