$base-layout: #2E294E;
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$font-title: 'Cedarville Cursive', cursive;
$font-base: 'Montserrat', sans-serif;
$border-base-circle: 100%;

body,html {
    background: $base-layout !important;
}

.title {
    font-family: $font-title !important;
    color: #eee !important;
}

.text {
    font-family: $font-base !important;
    font-size: 18px !important;
    color: #eee !important;
}

.image-circle {
    border-radius: $border-base-circle;
    width: 50%;
    height: auto;
}
div.ui.modal {
    color: #eee;
}
div.ui.modal.create>div.header {
    color: #eee;
    background-color: #333;
}
div.ui.modal.create>div.content {
    background-color: #333;
}
div.ui.modal.create>div.actions {
    background-color: #333;
}
.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    width:60px; height:60px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.draggable-token {
  width: 40px; 
  height: 40px; 
  background-color: #f73b7c; 
  border-radius: 100%;
  position: absolute;
  left: 10px;
  margin: 0 auto;
  z-index: 9;
  border: 2px solid #eee;
  text-align: center;
  cursor: move;
  transition: .3s;
}
.draggable-token:hover {
    border-width: 5px;
}

.status {
    margin-top: 5px;
}
.status>div.health {
    width: 5%;
    height: 10px;
    background: #ff6b6b;
    font-size: 10px;
}
.status>div.mana {
    width: 5%;
    height: 10px;
    background: #2e86de;
    font-size: 10px;
}

