$base-layout: #26294A;
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


$font-title: 'Lato', sans-serif;
$font-base: 'Montserrat', sans-serif;
$border-base-circle: 100%;
$tag-color: #fdcb6e;
$d4-bg: #55efc4;
$d6-bg: #fdcb6e;
$d8-bg: #a29bfe;
$d10-bg: #74b9ff;
$d12-bg: #f0932b;
$d20-bg: #ff6b6b;

body,html {
    background: $base-layout !important;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #26294A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.title {
    font-family: $font-title !important;
    font-weight: 100;
    color: #eee !important;
}

.text {
    font-family: $font-base !important;
    font-size: 18px !important;
    color: #eee !important;
}

.image-circle {
    border-radius: $border-base-circle;
    width: 50%;
    height: auto;
}
div.ui.modal {
    color: #eee;
}
div.ui.modal.create>div.header {
    color: #eee;
    background-color: #333;
}
div.ui.modal.create>div.content {
    background-color: #333;
}
div.ui.modal.create>div.actions {
    background-color: #333;
}
.grid { margin: 1em 1em; }
.grid td {
    width:90px; height:70px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.draggable-token {
  width: 40px; 
  height: 40px; 
  background-color: #f73b7c; 
  border-radius: 100%;
  margin: 0 auto;
  z-index: 9;
  border: 2px solid #eee;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  margin-bottom: 1px !important;
  margin-top: 1px !important;
}
.draggable-token:hover {
    border-width: 5px;
}

.draggable-token-wrapper {
    cursor: pointer;
    padding: 5px;
}

.status {
    display: none;
    text-align: center;
    width: 100%;
    user-select: none;
}
.status>div.health {
    height: 10px;
    background: #ff6b6b;
    font-size: 10px;
}
.status>div.mana {
    height: 10px;
    background: #2e86de;
    font-size: 10px;
}

.tagged {
    height: 3.5vh;
    display: none;
    background-color: $tag-color;
    padding: 1px;
    text-align: center;
    user-select: none;
}

.actions {
    position: absolute;
    top: 12vh;
    display: none;
}

.dice {
    margin-bottom: 1vh;
    border-radius: 3px;
}

a.dropdown-item {
  padding-right: 1rem !important;
}

span.icon.dice-icon {
  justify-content: start !important;
  width: 1rem !important;
}

a.dropdown-item.d4 { background-color: $d4-bg; }
a.dropdown-item.d6 { background-color: $d6-bg; }
a.dropdown-item.d8 { background-color: $d8-bg; }
a.dropdown-item.d10 { background-color: $d10-bg; }
a.dropdown-item.d12 { background-color: $d12-bg; }
a.dropdown-item.d20 { background-color: $d20-bg; }

.dice-result {
    visibility: hidden;
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: absolute; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 96vh;
    top: 10vh;
    transition: .3s;
}
.dice-result.active {
    visibility: visible;
}

.dice-rotate {
    animation: spin .4s linear;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

div.dice-result.d4 {
    background-color: $d4-bg;
}
div.dice-result.d6 {
    background-color: $d6-bg;
}
div.dice-result.d8 {
    background-color: $d8-bg;
}
div.dice-result.d10 {
    background-color: $d10-bg;
}
div.dice-result.d12 {
    background-color: $d12-bg;
}
div.dice-result.d20 {
    background-color: $d20-bg;
}
table td {
    vertical-align: middle !important;
}
header.modal-card-head, 
section.modal-card-body,
footer.modal-card-foot {
    background-color: #333;
}

div.modal-card p,
div.modal-card label{
   color: #eee;
}

div.avatar_preview {
  border: 1px solid #eee;
  height: 30vh;
  border-radius: 10px;
}

.opt-menu {
  display: none;
  position: absolute;
  width: 150px;
  background-color: #333;
  box-shadow: 4px 5px 0px #6c5ce7;
  border-radius: 3px;
  z-index: 99;
  padding: 15px;
  color: #eee;
  transition: .3s;
}

.opt-menu button {
  width: 100%;
  border: none;
  padding: 10px;
  transition: .4s;
}

.opt-menu button:hover {
  background-color: #2d3436;
}
